<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @cupcake do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit id: 'submit' %>
<% end %>

# edit 

<h1>Edit Cupcake!</h1>

<%= link_to "cancel", cupcake_path(@cupcake) %>

<%= render "form" %>

<%= form_tag cupcake_path, method: "delete" do %>
  <%= submit_tag "Delete Cupcake" %>
<% end %>

# index
<h1>Get yer cupcakes here!</h1>

<%= link_to "Add Cupcake", new_cupcake_path %>

<ul>
  <% @cupcakes.each do |cupcake| %>
    <li><%= link_to cupcake.name, cupcake %> | £<%= cupcake.price %></li>
  <% end %>
</ul>

# new

<h1>Make a new Cupcake!</h1>

<%= link_to "cancel", cupcakes_path %>

<%= render "form" %>

# show
<h1><%= @cupcake.name %></h1>

<p>This costs £<%= @cupcake.price %></p>

<%= link_to "All Cupcakes", cupcakes_path %>
<%= link_to "Edit this cupcake", edit_cupcake_path(@cupcake) %>
