<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @cupcake do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.submit id: 'submit' %>
<% end %>
