<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @cupcake do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  <%= f.text_field :price %>

  <%= f.collection_select :customer_id, @customers, :id, :name %>

  <hr>
  <h2>Available Ingredients:</h2>
  <%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
  <hr>

  <%= f.submit id: 'submit' %>
<% end %>
