<h1>Edit <%= @dog.name %></h1>

<a href="/dogs">Go back</a>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="patch" />
  <div>
    <label>Name:</label>
    <input type="text" name="dog[name]" value="<%= @dog.name %>"/>
  </div>

  <div>
    <label>Age:</label>
    <input type="text" name="dog[age]" value="<%= @dog.age %>">
  </div>

  <input type="submit" value= <%= "Edit_" + @dog.name %> />
</form>

<form action="/dogs/<%= @dog.id %>" method="post">
  <input type="hidden" name="_method" value="delete" />
  <input id="mysubmit" type="submit" value="Delete Dog" />
</form>
